<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Geekscene</title>
  </head>
    <body>
        <%- include('../partials/nav.ejs') %>
        <h1>Posts</h1>
        <ul>
          <% posts.forEach((post)=>{ %>
            <li>
              <a href="/users/<%= user._id %>/posts/<%= post._id %>">
              <%= post.title %><br><%= post.post %><br><%= post.date %>
              </a>
              <form
                action="/users/<%= user._id %>/posts/<%= post._id %>?_method=DELETE"
                method="POST"
              >
              <button type="submit">Delete this post</button>
              </form>
              <br>
          </li>
          <% }) %>
        </ul>
    </body>
</html>
