<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/stylesheets/show.css" />
        <title>Geekscene: <%= post.title %></title>
    </head>
    <body>
        <%- include('../partials/nav.ejs') %>
        <div class="show-body">
            <div class="show-header">
                <h1><%= post.title %></h1>
                <p>Post: <%= post.post %></p>
                <p>Date: <%= post.date %></p>
                <div class="show-sidebar">
                    <div class="show-actions">
                    <a href="/users/<%= user._id %>/posts/<%= post._id %>/edit">
                        Edit this post
                    </a>
                    <form
                        action="/users/<%= user._id %>/posts/<%= post._id %>?_method=DELETE"
                        method="POST"
                    >
                        <button type="submit">Delete Post</button>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>